
body {
  font-family:fantasy;
  background-color: lightblue;
  margin: 20px;
}

p {
  color: white;
  min-width: 400px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 900;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 100px;
}
canvas {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

h1 {
text-align: center;
color: darkblue;
font-size: 70px;
margin: 5px;
}

h2 {
  color: darkgreen;
  font-size: 30px;
  margin: 50px;
  margin-top: 2px;
  margin-bottom: 5px;
  text-decoration: solid underline darkblue 4px;
  clear: both;
}


h3 {
  margin-left: 40px;
  color: black;
  font-size: 25px;
}

h4 {
  font-size: 30px;
  color: white;
  font-weight: bolder;
  text-decoration: underline black 5px;
  margin-bottom: 10px;
}

a{
  color: blue;
}

img {
  margin: 40px;
}

video {
margin: 20px;
}

ul {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bolder;
}

#p1 {
  min-width: 400px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
background-image: linear-gradient(to bottom, rgba(0,250,50,0.2), rgba(0,100,240,0.5));
  margin-top: 1px;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-right: 100px;
}

#page2 {
  color: darkblue;
  min-width: 400px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 900;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 100px;
}

#page {
  margin: 50px;
  letter-spacing: 4px;
  font-weight: bolder;
  position: relative;padding: 30px;
  color: black;
  font-size: 30px;
}

#small-pic {
  display: block;
   margin-left: auto;
   margin-right: auto;
}

#myRange {

  top: 40%;
  transform: rotate(270deg);
}

#coralvideo-container {
  position: relative;
}

#°C {
  color: black;
  position: absolute;
  top: 10px;
  left: 670px;
  font-size: 30px;
  font-weight: bolder;
}
#instructions {
  color: black;
  position: absolute;
  top: 370px;
  left: 680px;
  font-size: 20px;
  font-weight: bolder;
}

#underwater-pic {
 margin-left: 60px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#skyline {
 margin-left: 60px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.slidecontainer {
  position: absolute;
  top: 220px;
  left: 560px;
}

.slidecontainer input[type="range"] {
-webkit-appearance: none !important;
width: 400px;
height: 30px;
background: linear-gradient(to left, rgba(255,0,0), rgba(0,0,255));
border-radius: 10px;
}

.slidecontainer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 45px;
  background: lightgreen;
  border: 1px black;
}

.slidecontainer input[type="range"]::-webkit-slider-thumb:hover {
  background: white;
}

.RisTemp :hover{
  color: white;
  font-size: 25px;
  background-color:darkblue;
    letter-spacing: 2px;
}

.Acid :hover{
  color: white;
  font-size: 25px;
  background-color:darkblue;
    letter-spacing: 2px;
}

.MelIce :hover{
  color: white;
  font-size: 25px;
  background-color:darkblue;
    letter-spacing: 2px;
}

.Deox :hover{
  color: white;
  font-size: 25px;
  background-color:darkblue;
    letter-spacing: 2px;
}
